<div class="app-container">
  <h1>Gestion des Incidents</h1>

  <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="filter-card">
    <div class="form-grid">
      <div class="field">
        <label>Titre</label>
        <input type="text" formControlName="title">
      </div>
      <div class="field">
        <label>Description</label>
        <input type="text" formControlName="description">
      </div>
      <div class="field">
        <label>Sévérité</label>
        <select formControlName="severity">
          <option value="">-- Sélectionner --</option>
          <option value="LOW">LOW</option>
          <option value="MEDIUM">MEDIUM</option>
          <option value="HIGH">HIGH</option>
        </select>
      </div>
      <div class="field">
        <label>Prénom</label>
        <input type="text" formControlName="firstName">
      </div>
      <div class="field">
        <label>Nom</label>
        <input type="text" formControlName="lastName">
      </div>
      <div class="field">
        <label>Email</label>
        <input type="text" formControlName="email">
        @if (searchForm.get('email')?.errors?.['email'] && searchForm.get('email')?.touched) {
          <small class="error-text">
            Format d'email invalide.
          </small>
        }
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" [disabled]="loading || searchForm.invalid">
        {{ loading ? 'Recherche...' : 'Rechercher' }}
      </button>
    </div>
  </form>

  @if (searchDuration !== null){
    <div class="stats-panel">
      <strong>{{ totalElements | number }}</strong> incidents trouvés.
      Dernière requête exécutée en : <strong>{{ searchDuration | number:'1.3-3' }} secondes</strong>.
    </div>
  }

  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th>Titre</th>
        <th>Sévérité</th>
        <th>Date</th>
        <th>Nom Prénom</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
        @for (incident of results; track incident.id) {
          <tr>
            <td>{{ incident?.title }}</td>
            <td>
              <span class="severity-tag" [attr.data-severity]="incident.severity">
                {{ incident?.severity }}
              </span>
            </td>
            <td>{{ incident?.createdAt | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ incident?.person?.lastName }} {{ incident?.person?.firstName }}</td>
            <td>{{ incident?.person?.email }}</td>
          </tr>
        } @empty {
          <tr>
            <td colspan="5" style="text-align: center;">Aucun résultat trouvé</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  @if (totalPages > 1) {
    <div class="pagination-actions" style="display: flex; justify-content: center; align-items: center; gap: 20px; margin-top: 20px;">
      <button class="btn-pagination"
              (click)="changePage(-1)"
              [disabled]="loading || currentPage === 0">
        &laquo; Précédent
      </button>

      <span class="page-info">
        Page <strong>{{ currentPage + 1 }}</strong> sur {{ totalPages }}
      </span>

      <button class="btn-pagination"
              (click)="changePage(1)"
              [disabled]="loading || (currentPage + 1) >= totalPages">
        Suivant &raquo;
      </button>
    </div>
  }

</div>
